h1{
    color:blueviolet;
    text-align: center;
}

body{
    background-color: beige;
    text-align: center;
    margin:auto;
    max-width: 800px;
}

main{
    display:flex;
    height: 100vh;
}

aside{
    display: flex;
    flex-direction: column;
    flex:1;
}

section{
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    height: 100vh;
    align-content: flex-start;
    flex: 4;
}

.box{
    width: 150px;
    height: 150px;
    background-color: lightslategrey;
    color:white;
    text-align: Center;
    border-radius: 5px;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-color: pink;
}

#boxes{
    background-color: peachpuff;
    color: #333;
    height: 100vh;
}


.box1, .box2, .box3{
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
}


.box4, .box5, .box6{
    border-style: solid;
    border-width: 10px;
}
.box7, .box8{
    border: 5px inset white;
    background: plum;
}

@media (max-width: 768){
    .box{
        background-color:green;
    }
}