h1{
    color:blueviolet;
    text-align: center;
}

body{
    background-color: beige;
    text-align: left;
    margin:auto;
    max-width: 1000px;
}

main{
    display:flex;
    height: 180vh;
}

img{
    display: block;
}





footer{
    text-align:left;
    color: white;
    background: darkblue;
    width: 800px;
    padding-left: 100px;
    margin-left: 140px;

}



h3{
    position:absolute;
    bottom: 170px;
    left:20px;
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 50%;
    padding-left: 5px;
}

div.relative {
  position: relative;
  width: 400px;
  height: 200px;
}

div.absolute {
    position: absolute;
    top: 1px;
    right: 0;
    left:0;
    width: 150px;
    height: 10px;
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
}



